<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoffeeXP</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' 'unsafe-inline';">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <nav id="navbar">
        <a href="/" class="logoContainer">
            <img src="/img/logo.png" alt="logo">
            <p>CoffeeXP</p>
        </a>
        <div class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#main">Destaques</a></li>
                <li><a href="#aboutus">Quem somos</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </div>
    </nav>
    {{{body}}}
    <footer>
        <p>Desenvolvido por <a href="https://www.linkedin.com/in/raphael-muniz-7119911a2/" target="_blank">Raphael
                Muniz</a></p>
    </footer>
    <script src="/js/script.js"></script>
</body>

</html>